body{display: flex; 
    flex-direction: column; 
    flex: 1;
    height: 100vh;
    padding: 1rem;
}

.row{display: flex;
flex-direction: row;
justify-content: flex-end;
flex: 1;
}

.row>*{
    border: 5px solid;
    text-align: center;
}

header,footer{
    border:5px solid;
    text-align:center;} 

nav, aside {
    flex:1
}
main {
    flex:3
}
